
#camera-app {
    .content {
        border-radius: inherit;
        position: relative;
        
        video {
            width: 100%;
            height: 100%;
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
        }
        
        .controls {
            position: absolute;
            bottom: 30px;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            
            button {
                width: 70px;
                height: 70px;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                
                &.record {
                    background: rgb(255, 42, 42);
                }

                &.save {
                    background: lightgreen;
                }

                &.cancel {
                    background: orange;
                }
            }
        }
    }
}