
.app-bar {
    width: 100%;
    height: 150px;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    padding: 15px;

    .container {
        width: 30%;
        background: rgba(49, 49, 49, 0.401);
        border-radius: 20px;
    }
}