/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam&display=swap');

@import "./LoginPage.scss";
@import "./StatusBar.scss";
@import "./AppBar.scss";
@import "./AppWindow.scss";
@import "./SettingsApp.scss";
@import "./OSPage.scss";
@import "./RssReaderApp.scss";
@import "./FileEditorApp.scss";
@import "./BrowserApp.scss";
@import "./CameraApp.scss";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Anek Malayalam', sans-serif;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,0.7) 0%, rgba(253,29,29,0.7) 50%, rgba(252,176,69,0.7) 100%);
    overflow: hidden;
}

.app {
    width: 100vw;
    height: 100vh;
}