
.login-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

    .parallax-logo {
        .logo-letter {
            font-size: 20rem;
            color: white;
            position: absolute;
            opacity: 0.2;

            &:nth-child(odd) {
                top: 25%
            }
    
            &:nth-child(even) {
                bottom: 25%
            }
        }
    }
    
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        input {
            color: white;
            font-size: 20px;
            text-align: center;
            padding: 10px;
            margin: 10px;
            background: none;
            border: none;
            
            &:focus {
                outline: none;
            }

            &::placeholder {
                color: lightgray;
                font-style: italic;
            }
        }

        input[type=submit] {
            display: none;
        }
    }
}